page-scan {
  .Scan{
    background: #fff;
    color: #c7932b;
  }

  .Scan-button {
    color: #ffffff;
    background-color:#c7932b;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  .logo img {
    max-height: 30rem;
  }

  .message {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 2rem;
    text-align: center;
  }
}
